<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration>
  <windows>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <assemblyIdentity 
		name="Ehtex Hyphle.OS Tools.startmgr" 
		processorArchitecture="x86" 
		version="1.0.0.0" type="win32"/>
        <dependentAssembly>
          <assemblyIdentity type="win32" 
		name="Microsoft.VC80.CRT" 
		processorArchitecture="x86" 
		publicKeyToken="1fc8b3b9a1e18e3b"/>
          <bindingRedirect 
		oldVersion="8.0.50727.4053" 
		newVersion="8.0.50727.42"/>
        </dependentAssembly>
    </assemblyBinding>
   </windows>
</configuration>
